<?php

use Phinx\Migration\AbstractMigration;

class $className extends AbstractMigration
{
  public function up()
  {
    // Add your 'up' migration code here
  }

  public function down()
  {
    // Add your 'down' migration code here
  }
}